---
import Icon from "@/components/root/icon.astro"
import { iconPaths } from "@/components/root/iconPaths"

interface Props {
  icon: keyof typeof iconPaths
  title: string
  desc: string
  link: string
}

const { icon, title, desc, link } = Astro.props
---

<div class="card-nav">
  <a
    href={link}
    title={title}
    aria-label={desc}
    class="mx-auto mb-4 flex h-16 w-16 items-center justify-center rounded-full"
  >
    <Icon icon={icon} size="13" class="nav-card-icon" />
  </a>
  <h3 class="mb-2 text-lg font-semibold text-heading">
    {title}
  </h3>
  <p class="mb-4 text-sm text-body">
    {desc}
  </p>
  <a href={link} title={title} aria-label={desc} class="link-card">
    詳しく見る
  </a>
</div>
